.body{
	background-color: antiquewhite;
}
.top{
	background-color:antiquewhite;
	background-position: center;
	border-bottom: dotted thick red;
	
}

.logg{
	padding-top:5px;
	background-color: antiquewhite;
}

.log{
	padding: 10px;
	border-left: dotted thick red;
	border-right: dotted thick red;
	border-bottom: dotted thick red;
	border-radius: 10px;
}
.log.login-box legend {
  font-size:35px;
  font-weight:bold;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
.forgot-password{
	color: black;
}
.btn{
	font-weight: bold;
}